Python.json
{"flowContents":{"identifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd","instanceIdentifier":"f9d1d1e6-018c-1000-245a-fd917d5a138e","name":"Python","comments":"","position":{"x":772.0,"y":588.0},"processGroups":[{"identifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","instanceIdentifier":"884a3ef5-ea8e-1acc-d18e-051458d83d21","name":"Consume Medium Feed","comments":"","position":{"x":808.0,"y":-864.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dc913213-ac91-3ed5-a8ae-59ab6c4ea941","instanceIdentifier":"ad35366f-223d-1af2-b731-9b268afa6a41","name":"Remove Junk","comments":"","position":{"x":600.0,"y":880.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"//inputs":"${field.value:replaceAll('\\n',' ')}","Record Writer":"4fc7b408-2e8e-38c5-8f15-543eafd62639","Record Reader":"27530622-c9e7-3779-881a-468e539cdb65","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"//inputs":{"name":"//inputs","displayName":"//inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"b32a1f69-897c-3f31-9318-e8f35b4b8168","instanceIdentifier":"ad35366d-223d-1af2-2d02-24d1d831b705","name":"SplitRecord","comments":"","position":{"x":600.0,"y":1912.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Record Writer":"03c4f05a-7768-3264-8439-05fee7cab0c8","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"c802a41d-b9a7-3e64-8b5b-8f09d5cd383e","instanceIdentifier":"ad353675-223d-1af2-93c7-866132a83fc8","name":"Convert Article to Input","comments":"","position":{"x":624.0,"y":1504.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","inputs":"SELECT SUBSTRING(inputs FROM 0 FOR 800)  as inputs\nFROM FLOWFILE\nWHERE inputs is not null","record-writer":"4fc7b408-2e8e-38c5-8f15-543eafd62639","record-reader":"27530622-c9e7-3779-881a-468e539cdb65","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"323efed8-89e3-3f9a-8605-b8ba07d99e61","instanceIdentifier":"ad35366e-223d-1af2-360c-cd570c1ce7ee","name":"SplitJson","comments":"","position":{"x":584.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[0].channel.item"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"3d44337d-fba3-38cf-bcaa-a393789acc22","instanceIdentifier":"ad35366a-223d-1af2-b9c8-9dc65ae7cf1e","name":"ControlRate","comments":"","position":{"x":616.0,"y":1704.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Rate Exceeded Strategy":"Hold FlowFile","Maximum FlowFile Rate":null,"Time Duration":"10 sec","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Rate Exceeded Strategy":{"name":"Rate Exceeded Strategy","displayName":"Rate Exceeded Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"256ba758-6409-3621-a296-94ba67216d06","instanceIdentifier":"ad353673-223d-1af2-3253-237be83cc5cc","name":"SQL Translate RSS to JSON","comments":"","position":{"x":592.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"all":"SELECT * FROM FLOWFILE","cache-schema":"true","dbf-default-precision":"10","record-writer":"4fc7b408-2e8e-38c5-8f15-543eafd62639","record-reader":"30fbad79-5bba-35ab-a87e-3e910e6cc798","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false,"dynamic":true},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"3262ded2-0912-37d3-aa02-7a607c45914f","instanceIdentifier":"ad353672-223d-1af2-400c-3f6d39b2fd66","name":"Add Fields","comments":"","position":{"x":584.0,"y":424.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"/uuid":"${uuid}","Record Writer":"4fc7b408-2e8e-38c5-8f15-543eafd62639","Record Reader":"27530622-c9e7-3779-881a-468e539cdb65","/inputs":"${inputs:substring(0,1000):trim()}","/ts":"${now():toNumber()}","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/inputs":{"name":"/inputs","displayName":"/inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"f2ea9aeb-0cc5-35fc-bbd9-277498cce9d7","instanceIdentifier":"ad353668-223d-1af2-d9d4-204b644489c6","name":"Get Text","comments":"","position":{"x":584.0,"y":64.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Destination":"flowfile-attribute","creator":"$.creator","Max String Length":"20 MB","inputs":"$.encoded","Return Type":"json","link":"$.link","description":"$.description","Null Value Representation":"empty string","title":"$.title","Path Not Found Behavior":"ignore","guid":"$.guid","category":"$.category","updated":"$.updated","pubdate":"$.pubDate"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"creator":{"name":"creator","displayName":"creator","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"link":{"name":"link","displayName":"link","identifiesControllerService":false,"sensitive":false,"dynamic":true},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"title":{"name":"title","displayName":"title","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"guid":{"name":"guid","displayName":"guid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"category":{"name":"category","displayName":"category","identifiesControllerService":false,"sensitive":false,"dynamic":true},"updated":{"name":"updated","displayName":"updated","identifiesControllerService":false,"sensitive":false,"dynamic":true},"pubdate":{"name":"pubdate","displayName":"pubdate","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"6e55b16d-c03b-3032-a24d-361f1d7e4f70","instanceIdentifier":"ad353670-223d-1af2-138b-69dfccbe10ee","name":"Get Medium Feed","comments":"","position":{"x":592.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"false","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"True","Connection Timeout":"130 secs","Response Cookie Strategy":"ACCEPT_ALL","Socket Read Timeout":"230 secs","Socket Idle Connections":"3","Request Body Enabled":"false","HTTP URL":"https://medium.com/@tspann/feed","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"2 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"False","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"4096","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":"nifi-medium-tim","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#d6e3ff"},"schedulingPeriod":"120 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"c950e349-1d3c-3d20-9289-60ef7ccb619f","instanceIdentifier":"ad353669-223d-1af2-89aa-48d646b8b101","name":"Remove HTML","comments":"","position":{"x":592.0,"y":656.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"//inputs":"${field.value:replaceAll('<[^>]*>',' ')}","Record Writer":"4fc7b408-2e8e-38c5-8f15-543eafd62639","Record Reader":"27530622-c9e7-3779-881a-468e539cdb65","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"//inputs":{"name":"//inputs","displayName":"//inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"bb91ac16-b305-347b-b839-f32d61a93244","instanceIdentifier":"ad35366b-223d-1af2-68d9-db8b874f8a51","name":"Remove Junk","comments":"","position":{"x":608.0,"y":1096.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"//inputs":"${field.value:unescapeHtml4()}","Record Writer":"4fc7b408-2e8e-38c5-8f15-543eafd62639","Record Reader":"27530622-c9e7-3779-881a-468e539cdb65","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"//inputs":{"name":"//inputs","displayName":"//inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"81502e79-1e2c-3cc6-8efb-7600ea55499e","instanceIdentifier":"ad35366c-223d-1af2-ec36-43c4f3895627","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":-152.0,"y":1392.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M1"},"properties":{"compression.type":"none","attribute-name-regex":"filename,avro.schema,schema.name","record-writer":"9ebd0aeb-d43e-39d2-8d96-3412366b54c7","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"9f918092-dfe1-3d20-ac43-67e7286d7185","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"nifimedium","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"mediumarticles","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"94aea5e0-9a1b-3aee-9264-3428abb7733a","instanceIdentifier":"ad353671-223d-1af2-290b-8d5ab30f2591","name":"Update Content Type JSON","comments":"","position":{"x":576.0,"y":240.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M1"},"properties":{"Mime-Type":"application/json","schema":"mediumarticle","mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json","Content.Type":"application/json","Delete Attributes Expression":null,"Mime.Type":"application/json","schema.name":"mediumarticle","content-type":"application/json","Content-Type":"application/json"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content.Type":{"name":"Content.Type","displayName":"Content.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"5fb153c7-260b-39a7-a79c-c429a4a3bca5","instanceIdentifier":"ad353674-223d-1af2-875d-2091f4363fad","name":"SplitRecord","comments":"","position":{"x":616.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Record Writer":"4fc7b408-2e8e-38c5-8f15-543eafd62639","Record Reader":"27530622-c9e7-3779-881a-468e539cdb65","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"}],"inputPorts":[],"outputPorts":[{"identifier":"ff5b4382-1dc8-3264-b439-e96004fc3d7b","instanceIdentifier":"ad353667-223d-1af2-3552-57e75d0d21a6","name":"Out to LLM","position":{"x":656.0,"y":2160.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"5e9b247d-7ae1-36b7-9aac-07d36d2b7bd3","instanceIdentifier":"568a3784-914b-1f93-bb5a-8299f410302a","name":"contentFull","position":{"x":-56.0,"y":416.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"}],"connections":[{"identifier":"f266267d-b7e3-37da-9b32-1ae85a2ad0e8","instanceIdentifier":"568a377e-914b-1f93-99c2-d36e50e9e7ab","name":"","source":{"id":"bb91ac16-b305-347b-b839-f32d61a93244","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove Junk","comments":"","instanceIdentifier":"ad35366b-223d-1af2-68d9-db8b874f8a51"},"destination":{"id":"b5fcb656-1881-3edd-a3c6-5b741ed03795","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353664-223d-1af2-d998-1298a0da277e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"269d8d51-cf73-3b38-9aae-927baa4ac833","instanceIdentifier":"568a377f-914b-1f93-5b37-36071551e0a4","name":"","source":{"id":"323efed8-89e3-3f9a-8605-b8ba07d99e61","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitJson","comments":"","instanceIdentifier":"ad35366e-223d-1af2-360c-cd570c1ce7ee"},"destination":{"id":"442277ae-744d-3339-9dd0-144e9ca35a18","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353663-223d-1af2-cbef-5b3ed9edf206"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"5a5a6256-2cb5-35df-9ebf-f8a35d92935a","instanceIdentifier":"ad353680-223d-1af2-dfe7-26a98180a3de","name":"","source":{"id":"c802a41d-b9a7-3e64-8b5b-8f09d5cd383e","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Convert Article to Input","comments":"","instanceIdentifier":"ad353675-223d-1af2-93c7-866132a83fc8"},"destination":{"id":"3d44337d-fba3-38cf-bcaa-a393789acc22","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"ControlRate","comments":"","instanceIdentifier":"ad35366a-223d-1af2-b9c8-9dc65ae7cf1e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["inputs"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"d039a885-91cf-3f1e-9dc6-d5454aac2f65","instanceIdentifier":"ad35368a-223d-1af2-f32f-7a19055baa1e","name":"","source":{"id":"b32a1f69-897c-3f31-9318-e8f35b4b8168","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitRecord","comments":"","instanceIdentifier":"ad35366d-223d-1af2-2d02-24d1d831b705"},"destination":{"id":"d95353d2-b551-3bc8-9677-d5919f1f3e37","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"884a3ef9-ea8e-1acc-b282-38e401faa0d1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"af2951d0-d270-39da-b4b2-23a10fd1db8c","instanceIdentifier":"ad35367f-223d-1af2-678e-df3e438c3783","name":"","source":{"id":"c950e349-1d3c-3d20-9289-60ef7ccb619f","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove HTML","comments":"","instanceIdentifier":"ad353669-223d-1af2-89aa-48d646b8b101"},"destination":{"id":"65679ef0-abac-3566-8be6-d96a0869667a","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353666-223d-1af2-1149-9bace39613a5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"94a6235c-b106-3628-8b5d-4bce20dbc475","instanceIdentifier":"ad353689-223d-1af2-9159-539075cceb4c","name":"","source":{"id":"94aea5e0-9a1b-3aee-9264-3428abb7733a","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Update Content Type JSON","comments":"","instanceIdentifier":"ad353671-223d-1af2-290b-8d5ab30f2591"},"destination":{"id":"3262ded2-0912-37d3-aa02-7a607c45914f","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Add Fields","comments":"","instanceIdentifier":"ad353672-223d-1af2-400c-3f6d39b2fd66"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"860a3ac8-4365-324b-9000-7f58941da2e6","instanceIdentifier":"568a3785-914b-1f93-856c-22dbd06fd3a5","name":"","source":{"id":"3262ded2-0912-37d3-aa02-7a607c45914f","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Add Fields","comments":"","instanceIdentifier":"ad353672-223d-1af2-400c-3f6d39b2fd66"},"destination":{"id":"c950e349-1d3c-3d20-9289-60ef7ccb619f","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove HTML","comments":"","instanceIdentifier":"ad353669-223d-1af2-89aa-48d646b8b101"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"dec147af-9a17-3387-a8da-4356a76a2010","instanceIdentifier":"ad353682-223d-1af2-67cb-9ff909ee38b9","name":"","source":{"id":"323efed8-89e3-3f9a-8605-b8ba07d99e61","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitJson","comments":"","instanceIdentifier":"ad35366e-223d-1af2-360c-cd570c1ce7ee"},"destination":{"id":"f2ea9aeb-0cc5-35fc-bbd9-277498cce9d7","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Get Text","comments":"","instanceIdentifier":"ad353668-223d-1af2-d9d4-204b644489c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"19eb2185-f394-3e8c-b1fd-9e51a69a3d52","instanceIdentifier":"ad353678-223d-1af2-10f7-c5c338d5d50a","name":"","source":{"id":"c950e349-1d3c-3d20-9289-60ef7ccb619f","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove HTML","comments":"","instanceIdentifier":"ad353669-223d-1af2-89aa-48d646b8b101"},"destination":{"id":"dc913213-ac91-3ed5-a8ae-59ab6c4ea941","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove Junk","comments":"","instanceIdentifier":"ad35366f-223d-1af2-b731-9b268afa6a41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"6a838303-ebaf-3d8c-a816-b2ff62d0b73e","instanceIdentifier":"ad35367d-223d-1af2-7697-c2803983472d","name":"","source":{"id":"dc913213-ac91-3ed5-a8ae-59ab6c4ea941","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove Junk","comments":"","instanceIdentifier":"ad35366f-223d-1af2-b731-9b268afa6a41"},"destination":{"id":"bb91ac16-b305-347b-b839-f32d61a93244","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove Junk","comments":"","instanceIdentifier":"ad35366b-223d-1af2-68d9-db8b874f8a51"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"29e2b4d6-2d79-3dca-aa68-69d089ccb19b","instanceIdentifier":"ad35367a-223d-1af2-9ece-b95cfd029e12","name":"","source":{"id":"5fb153c7-260b-39a7-a79c-c429a4a3bca5","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitRecord","comments":"","instanceIdentifier":"ad353674-223d-1af2-875d-2091f4363fad"},"destination":{"id":"c802a41d-b9a7-3e64-8b5b-8f09d5cd383e","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Convert Article to Input","comments":"","instanceIdentifier":"ad353675-223d-1af2-93c7-866132a83fc8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"70c2a941-8180-3c99-91c2-370551a159aa","instanceIdentifier":"ad35367c-223d-1af2-2173-9c8e9badffe5","name":"","source":{"id":"f2ea9aeb-0cc5-35fc-bbd9-277498cce9d7","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Get Text","comments":"","instanceIdentifier":"ad353668-223d-1af2-d9d4-204b644489c6"},"destination":{"id":"94aea5e0-9a1b-3aee-9264-3428abb7733a","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Update Content Type JSON","comments":"","instanceIdentifier":"ad353671-223d-1af2-290b-8d5ab30f2591"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"81e44c3d-0dd4-3ccb-8c12-c86a74ef0843","instanceIdentifier":"ad353685-223d-1af2-68d8-31573c98ad8b","name":"","source":{"id":"3262ded2-0912-37d3-aa02-7a607c45914f","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Add Fields","comments":"","instanceIdentifier":"ad353672-223d-1af2-400c-3f6d39b2fd66"},"destination":{"id":"65679ef0-abac-3566-8be6-d96a0869667a","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353666-223d-1af2-1149-9bace39613a5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"148bdc97-2c70-3a31-8567-b5ba37d4c9da","instanceIdentifier":"ad353681-223d-1af2-e0fd-9969ea5c2012","name":"","source":{"id":"5fb153c7-260b-39a7-a79c-c429a4a3bca5","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitRecord","comments":"","instanceIdentifier":"ad353674-223d-1af2-875d-2091f4363fad"},"destination":{"id":"81502e79-1e2c-3cc6-8efb-7600ea55499e","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"ad35366c-223d-1af2-ec36-43c4f3895627"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"ba84c171-fde6-3036-bbcc-601c681ee311","instanceIdentifier":"ad35367e-223d-1af2-67cb-d60a6b1e2e72","name":"","source":{"id":"6e55b16d-c03b-3032-a24d-361f1d7e4f70","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Get Medium Feed","comments":"","instanceIdentifier":"ad353670-223d-1af2-138b-69dfccbe10ee"},"destination":{"id":"6e55b16d-c03b-3032-a24d-361f1d7e4f70","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Get Medium Feed","comments":"","instanceIdentifier":"ad353670-223d-1af2-138b-69dfccbe10ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1061.8000808245606,"y":-447.00000372614045},{"x":1094.800048828125,"y":-398.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"e61336d7-47fa-3986-91ea-43ab687fa1ec","instanceIdentifier":"ad353683-223d-1af2-8204-8b05ea3ffe5b","name":"","source":{"id":"dc913213-ac91-3ed5-a8ae-59ab6c4ea941","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove Junk","comments":"","instanceIdentifier":"ad35366f-223d-1af2-b731-9b268afa6a41"},"destination":{"id":"b5fcb656-1881-3edd-a3c6-5b741ed03795","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353664-223d-1af2-d998-1298a0da277e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"3b132727-149a-391e-8d0a-2311a4373e82","instanceIdentifier":"ad35367b-223d-1af2-db34-ccbd35a95542","name":"","source":{"id":"81502e79-1e2c-3cc6-8efb-7600ea55499e","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"ad35366c-223d-1af2-ec36-43c4f3895627"},"destination":{"id":"ec4f15d7-4b6e-32f1-af4d-b4127e69d027","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353665-223d-1af2-de24-2b9562c1f6ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"def13789-3848-33e1-a0b0-d719b9603791","instanceIdentifier":"ad353676-223d-1af2-c714-2d6bee8b733c","name":"","source":{"id":"6e55b16d-c03b-3032-a24d-361f1d7e4f70","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Get Medium Feed","comments":"","instanceIdentifier":"ad353670-223d-1af2-138b-69dfccbe10ee"},"destination":{"id":"442277ae-744d-3339-9dd0-144e9ca35a18","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353663-223d-1af2-cbef-5b3ed9edf206"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"c0e359be-1142-3b28-a0ab-7e708bd3971e","instanceIdentifier":"ad353688-223d-1af2-8b27-91821031f439","name":"","source":{"id":"3262ded2-0912-37d3-aa02-7a607c45914f","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Add Fields","comments":"","instanceIdentifier":"ad353672-223d-1af2-400c-3f6d39b2fd66"},"destination":{"id":"5e9b247d-7ae1-36b7-9aac-07d36d2b7bd3","type":"OUTPUT_PORT","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"contentFull","instanceIdentifier":"568a3784-914b-1f93-bb5a-8299f410302a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"d0e4cc40-0ce7-3b7a-a40d-d5e800452e8a","instanceIdentifier":"568a3780-914b-1f93-2e79-16c0192b35ef","name":"","source":{"id":"bb91ac16-b305-347b-b839-f32d61a93244","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Remove Junk","comments":"","instanceIdentifier":"ad35366b-223d-1af2-68d9-db8b874f8a51"},"destination":{"id":"5fb153c7-260b-39a7-a79c-c429a4a3bca5","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitRecord","comments":"","instanceIdentifier":"ad353674-223d-1af2-875d-2091f4363fad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"153bf973-4573-3ef8-9f75-0969e07692bd","instanceIdentifier":"ad353684-223d-1af2-cfee-49ef7edae547","name":"","source":{"id":"256ba758-6409-3621-a296-94ba67216d06","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SQL Translate RSS to JSON","comments":"","instanceIdentifier":"ad353673-223d-1af2-3253-237be83cc5cc"},"destination":{"id":"442277ae-744d-3339-9dd0-144e9ca35a18","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353663-223d-1af2-cbef-5b3ed9edf206"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"e4be00e5-28b2-3f3b-80b4-7330fdc2678b","instanceIdentifier":"568a377c-914b-1f93-12fa-699091e31373","name":"","source":{"id":"3d44337d-fba3-38cf-bcaa-a393789acc22","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"ControlRate","comments":"","instanceIdentifier":"ad35366a-223d-1af2-b9c8-9dc65ae7cf1e"},"destination":{"id":"b32a1f69-897c-3f31-9318-e8f35b4b8168","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitRecord","comments":"","instanceIdentifier":"ad35366d-223d-1af2-2d02-24d1d831b705"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"cd67b50c-21e0-3115-8f6a-860edb14f55f","instanceIdentifier":"568a377d-914b-1f93-a320-e54cf59f3115","name":"","source":{"id":"6e55b16d-c03b-3032-a24d-361f1d7e4f70","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Get Medium Feed","comments":"","instanceIdentifier":"ad353670-223d-1af2-138b-69dfccbe10ee"},"destination":{"id":"256ba758-6409-3621-a296-94ba67216d06","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SQL Translate RSS to JSON","comments":"","instanceIdentifier":"ad353673-223d-1af2-3253-237be83cc5cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"ad8e9538-3dae-3d84-a260-8e3db52b2cf9","instanceIdentifier":"ad353679-223d-1af2-1469-1751a0181c36","name":"","source":{"id":"c802a41d-b9a7-3e64-8b5b-8f09d5cd383e","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Convert Article to Input","comments":"","instanceIdentifier":"ad353675-223d-1af2-93c7-866132a83fc8"},"destination":{"id":"b5fcb656-1881-3edd-a3c6-5b741ed03795","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353664-223d-1af2-d998-1298a0da277e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"a45e040d-7363-3746-81d8-f05c7f7805f1","instanceIdentifier":"ad353686-223d-1af2-007d-a698f51fb72e","name":"","source":{"id":"256ba758-6409-3621-a296-94ba67216d06","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SQL Translate RSS to JSON","comments":"","instanceIdentifier":"ad353673-223d-1af2-3253-237be83cc5cc"},"destination":{"id":"323efed8-89e3-3f9a-8605-b8ba07d99e61","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitJson","comments":"","instanceIdentifier":"ad35366e-223d-1af2-360c-cd570c1ce7ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":2000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"8d7bae00-2978-3b54-83d8-d98c2e40fe1f","instanceIdentifier":"ad353677-223d-1af2-2f0b-fecf2c6ed204","name":"","source":{"id":"b32a1f69-897c-3f31-9318-e8f35b4b8168","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitRecord","comments":"","instanceIdentifier":"ad35366d-223d-1af2-2d02-24d1d831b705"},"destination":{"id":"ff5b4382-1dc8-3264-b439-e96004fc3d7b","type":"OUTPUT_PORT","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Out to LLM","instanceIdentifier":"ad353667-223d-1af2-3552-57e75d0d21a6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"0d8fda53-d96c-3cdc-a8dc-cd6b9b592dc0","instanceIdentifier":"ad353687-223d-1af2-63e2-841bbc4cd99e","name":"","source":{"id":"5fb153c7-260b-39a7-a79c-c429a4a3bca5","type":"PROCESSOR","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"SplitRecord","comments":"","instanceIdentifier":"ad353674-223d-1af2-875d-2091f4363fad"},"destination":{"id":"b5fcb656-1881-3edd-a3c6-5b741ed03795","type":"FUNNEL","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"Funnel","comments":"","instanceIdentifier":"ad353664-223d-1af2-d998-1298a0da277e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"}],"labels":[],"funnels":[{"identifier":"d95353d2-b551-3bc8-9677-d5919f1f3e37","instanceIdentifier":"884a3ef9-ea8e-1acc-b282-38e401faa0d1","position":{"x":1432.0,"y":1960.0},"componentType":"FUNNEL","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"442277ae-744d-3339-9dd0-144e9ca35a18","instanceIdentifier":"ad353663-223d-1af2-cbef-5b3ed9edf206","position":{"x":1560.0,"y":-192.0},"componentType":"FUNNEL","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"65679ef0-abac-3566-8be6-d96a0869667a","instanceIdentifier":"ad353666-223d-1af2-1149-9bace39613a5","position":{"x":1352.0,"y":648.0},"componentType":"FUNNEL","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"b5fcb656-1881-3edd-a3c6-5b741ed03795","instanceIdentifier":"ad353664-223d-1af2-d998-1298a0da277e","position":{"x":1560.0,"y":1320.0},"componentType":"FUNNEL","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"ec4f15d7-4b6e-32f1-af4d-b4127e69d027","instanceIdentifier":"ad353665-223d-1af2-de24-2b9562c1f6ac","position":{"x":0.8151067925222151,"y":1623.9226070310576},"componentType":"FUNNEL","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"}],"controllerServices":[{"identifier":"27530622-c9e7-3779-881a-468e539cdb65","instanceIdentifier":"884a3ef6-ea8e-1acc-ac02-1310a4630777","name":"InferJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M1"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"4fc7b408-2e8e-38c5-8f15-543eafd62639","instanceIdentifier":"884a3ef7-ea8e-1acc-cd88-7c7c264615fe","name":"SchemaFillJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M1"},"properties":{"schema-reference-reader":null,"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"},{"identifier":"30fbad79-5bba-35ab-a87e-3e910e6cc798","instanceIdentifier":"884a3ef8-ea8e-1acc-48d2-c669168984b0","name":"RSSXMLReader","comments":"","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M1"},"properties":{"schema-reference-reader":null,"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":1000000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"}],"remoteProcessGroups":[],"processors":[{"identifier":"a13807eb-9e3a-33c2-8f8f-c4a6f6a9bf46","instanceIdentifier":"568a378e-914b-1f93-564a-bdb39e21c503","name":"EvaluateJsonPath","comments":"","position":{"x":824.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","inputs":"$.inputs","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"a8d1fd65-8c63-3ee4-9805-6d33d02438b9","instanceIdentifier":"568a379f-914b-1f93-6747-31d01302efc8","name":"RetryFlowFile","comments":"","position":{"x":776.0,"y":936.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"2066c956-5ba3-32b7-b84d-5d26039439d3","instanceIdentifier":"faa2c8ea-018c-1000-d707-891221f6ce1d","name":"ChunkDocument","comments":"","position":{"x":816.0,"y":-16.0},"type":"python.ChunkDocument","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-SNAPSHOT"},"properties":{"Separator Format":"Plain Text","Chunk Overlap":"200","Keep Separator":"false","Chunk Size":"4000","Chunking Strategy":"Recursively Split by Character","Separator":"\\n\\n,\\n, ,","Strip Whitespace":"true"},"propertyDescriptors":{"Separator Format":{"name":"Separator Format","displayName":"Separator Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Separator":{"name":"Keep Separator","displayName":"Keep Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunking Strategy":{"name":"Chunking Strategy","displayName":"Chunking Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Separator":{"name":"Separator","displayName":"Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strip Whitespace":{"name":"Strip Whitespace","displayName":"Strip Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"678738ab-256f-3d93-a138-42dce570c4dc","instanceIdentifier":"568a379e-914b-1f93-6254-4555a8133633","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":768.0,"y":728.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M1"},"properties":{"compression.type":"none","attribute-name-regex":"filename,avro.schema,schema.name","record-writer":"75e268aa-cda0-3a2c-ad7c-cbb514869d0c","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"7eed05c8-7281-3026-8deb-623428641ebb","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"chromaresultsmedium","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"6d24c882-733c-382e-a297-f795a0b3fcb8","instanceIdentifier":"568a3789-914b-1f93-b0bd-039f26fbc93b","name":"AttributesToJSON","comments":"","position":{"x":816.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"inputs","Include Core Attributes":"false","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"3e5955a3-d302-32d3-b49c-268e8ea03ae7","instanceIdentifier":"faa2e113-018c-1000-e080-852a566d005a","name":"ParseDocument","comments":"","position":{"x":816.0,"y":-216.0},"type":"python.ParseDocument","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-SNAPSHOT"},"properties":{"Element Strategy":"Single Document","PDF Parsing Strategy":"Automatic","Input Format":"HTML","Include Page Breaks":"false","Metadata Fields":"filename, uuid","Languages":"Eng","Infer Table Structure":"false","PDF Parsing Model":"yolox","Include Extracted Metadata":"true"},"propertyDescriptors":{"Element Strategy":{"name":"Element Strategy","displayName":"Element Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"PDF Parsing Strategy":{"name":"PDF Parsing Strategy","displayName":"Parsing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Format":{"name":"Input Format","displayName":"Input Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Page Breaks":{"name":"Include Page Breaks","displayName":"Include Page Breaks","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Metadata Fields":{"name":"Metadata Fields","displayName":"Metadata Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Languages":{"name":"Languages","displayName":"Languages","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Infer Table Structure":{"name":"Infer Table Structure","displayName":"Infer Table Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"PDF Parsing Model":{"name":"PDF Parsing Model","displayName":"PDF Parsing Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Extracted Metadata":{"name":"Include Extracted Metadata","displayName":"Include Extracted Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"b865ff00-c3f9-3935-9556-306dd48cbea7","instanceIdentifier":"568a37a1-914b-1f93-740e-ea8e985b2807","name":"Send Msg to Slack Channel NiFi-SE","comments":"","position":{"x":1360.0,"y":1040.0},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2.0.0-M1"},"properties":{"icon-emoji":null,"SSL Context Service":null,"Thread Timestamp":null,"webhook-text":"==== NiFi Chunked Medium Articles to chroma vector db\nOn Date: ${date}\nFile Name: ${filename}\ncreator: ${creator}\ndistance: ${distance}\nDoc count: ${document.count}\nDoc ID: ${docuuid}\nGUID: ${guid}\nID: ${id}\ninvokehttp.remote.dn: ${invokehttp.remote.dn}\ninvokehttp.request.duration: ${invokehttp.request.duration}\nlink: ${link}\nmetachunkcount: ${metachunkcount}\nmetachunkindex: ${metachunkindex}\npubdate: ${pubdate}\ntitle: ${title}\nupdated: ${updated}\nuuid: ${uuid}\nx-opentracing: ${x-opentracing}\n===== Document\n${document}\n=====","channel":"#chat","icon-url":null,"username":"webhookbot "},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Thread Timestamp":{"name":"Thread Timestamp","displayName":"Thread Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"dynamic":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"9df9a51d-5e9c-32c8-beaf-711db953e25a","instanceIdentifier":"faa3a130-018c-1000-a675-4b0dddb553af","name":"QueryChroma","comments":"","position":{"x":816.0,"y":400.0},"type":"python.QueryChroma","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-SNAPSHOT"},"properties":{"HuggingFace Model Name":"sentence-transformers/all-MiniLM-L6-v2","Query":"nifi","Embedding Function":"ONNX all-MiniLM-L6-v2 Model","Results Field":null,"Port":"8000","Include Distances":"true","OpenAI API Base Path":null,"Document Filter":null,"Authentication Strategy":"Token Authentication","Output Strategy":"Row-Oriented","Directory":"./chroma","OpenAI Organization ID":null,"OpenAI API Version":null,"Sentence Transformer Model Name":"all-MiniLM-L6-v2","Include Document":"true","Include Embeddings":"false","OpenAI API Deployment Type":null,"Include Metadata":"true","Hostname":"localhost","Metadata Filter":null,"Number of Results":"25","OpenAI Model Name":"text-embedding-ada-002","Connection Strategy":"Local Disk","Collection Name":"nifi","Transport Protocol":"https","Username":null,"Sentence Transformer Device Type":null,"Include Document IDs":"true"},"propertyDescriptors":{"HuggingFace Model Name":{"name":"HuggingFace Model Name","displayName":"HuggingFace Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embedding Function":{"name":"Embedding Function","displayName":"Embedding Function","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Results Field":{"name":"Results Field","displayName":"Results Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Token":{"name":"Authentication Token","displayName":"Authentication Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Include Distances":{"name":"Include Distances","displayName":"Include Distances","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Base Path":{"name":"OpenAI API Base Path","displayName":"OpenAI API Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Document Filter":{"name":"Document Filter","displayName":"Document Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace API Key":{"name":"HuggingFace API Key","displayName":"HuggingFace API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OpenAI Organization ID":{"name":"OpenAI Organization ID","displayName":"OpenAI Organization ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Version":{"name":"OpenAI API Version","displayName":"OpenAI API Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentence Transformer Model Name":{"name":"Sentence Transformer Model Name","displayName":"Sentence Transformer Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Document":{"name":"Include Document","displayName":"Include Document","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Embeddings":{"name":"Include Embeddings","displayName":"Include Embeddings","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Deployment Type":{"name":"OpenAI API Deployment Type","displayName":"OpenAI API Deployment Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Metadata":{"name":"Include Metadata","displayName":"Include Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Metadata Filter":{"name":"Metadata Filter","displayName":"Metadata Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Results":{"name":"Number of Results","displayName":"Number of Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Model Name":{"name":"OpenAI Model Name","displayName":"OpenAI Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Collection Name":{"name":"Collection Name","displayName":"Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transport Protocol":{"name":"Transport Protocol","displayName":"Transport Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentence Transformer Device Type":{"name":"Sentence Transformer Device Type","displayName":"Sentence Transformer Device Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Document IDs":{"name":"Include Document IDs","displayName":"Include Document IDs","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"b025172b-8c47-3d32-ab4f-1e88035c6a9a","instanceIdentifier":"faa2a16b-018c-1000-9ee1-60c9f8410cf8","name":"PutPinecone","comments":"","position":{"x":-104.0,"y":112.0},"type":"python.PutPinecone","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-SNAPSHOT"},"properties":{"Text Key":"text","Pinecone Environment":null,"Index Name":null,"Namespace":null,"Document ID Field Name":null},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Text Key":{"name":"Text Key","displayName":"Text Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pinecone Environment":{"name":"Pinecone Environment","displayName":"Pinecone Environment","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Namespace":{"name":"Namespace","displayName":"Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Document ID Field Name":{"name":"Document ID Field Name","displayName":"Document ID Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"c6b106f2-4252-36ac-9ed0-ba1e63293d96","instanceIdentifier":"568a379d-914b-1f93-7276-34a53dbc4acb","name":"Get vector data","comments":"","position":{"x":1368.0,"y":832.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"docuuid":"$.metadata.uuid","Destination":"flowfile-attribute","distance":"$.distance","Max String Length":"20 MB","Return Type":"json","document":"$.document","metachunkcount":"$.metadata.chunk_count","metachunkindex":"$.metadata.chunk_index","Null Value Representation":"empty string","id":"$.id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"docuuid":{"name":"docuuid","displayName":"docuuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"distance":{"name":"distance","displayName":"distance","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"document":{"name":"document","displayName":"document","identifiesControllerService":false,"sensitive":false,"dynamic":true},"metachunkcount":{"name":"metachunkcount","displayName":"metachunkcount","identifiesControllerService":false,"sensitive":false,"dynamic":true},"metachunkindex":{"name":"metachunkindex","displayName":"metachunkindex","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"defd8ba7-2b6a-305b-8f30-1600b8a7746c","instanceIdentifier":"faa37e83-018c-1000-89c1-a248aef83141","name":"PutChroma","comments":"","position":{"x":816.0,"y":184.0},"type":"python.PutChroma","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-SNAPSHOT"},"properties":{"OpenAI Organization ID":null,"OpenAI API Version":null,"Sentence Transformer Model Name":"all-MiniLM-L6-v2","HuggingFace Model Name":"sentence-transformers/all-MiniLM-L6-v2","Embedding Function":"ONNX all-MiniLM-L6-v2 Model","OpenAI API Deployment Type":null,"Port":"8000","Hostname":"localhost","Store Document Text":"true","OpenAI Model Name":"text-embedding-ada-002","OpenAI API Base Path":null,"Connection Strategy":"Local Disk","Collection Name":"nifi","Transport Protocol":"https","Authentication Strategy":"Token Authentication","Username":null,"Sentence Transformer Device Type":null,"Distance Method":"cosine","Directory":"./chroma","Document ID Field Name":null},"propertyDescriptors":{"OpenAI Organization ID":{"name":"OpenAI Organization ID","displayName":"OpenAI Organization ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Version":{"name":"OpenAI API Version","displayName":"OpenAI API Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentence Transformer Model Name":{"name":"Sentence Transformer Model Name","displayName":"Sentence Transformer Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace Model Name":{"name":"HuggingFace Model Name","displayName":"HuggingFace Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embedding Function":{"name":"Embedding Function","displayName":"Embedding Function","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Deployment Type":{"name":"OpenAI API Deployment Type","displayName":"OpenAI API Deployment Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Token":{"name":"Authentication Token","displayName":"Authentication Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store Document Text":{"name":"Store Document Text","displayName":"Store Document Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Model Name":{"name":"OpenAI Model Name","displayName":"OpenAI Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Base Path":{"name":"OpenAI API Base Path","displayName":"OpenAI API Base Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Collection Name":{"name":"Collection Name","displayName":"Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transport Protocol":{"name":"Transport Protocol","displayName":"Transport Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Sentence Transformer Device Type":{"name":"Sentence Transformer Device Type","displayName":"Sentence Transformer Device Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace API Key":{"name":"HuggingFace API Key","displayName":"HuggingFace API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Distance Method":{"name":"Distance Method","displayName":"Distance Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Document ID Field Name":{"name":"Document ID Field Name","displayName":"Document ID Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"fb92f5e1-e657-36af-a741-72d439b77e23","instanceIdentifier":"faa3b955-018c-1000-96b9-58abe3b8ddbd","name":"QueryPinecone","comments":"","position":{"x":32.0,"y":352.0},"type":"python.QueryPinecone","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-SNAPSHOT"},"properties":{"Text Key":"text","Pinecone Environment":null,"Query":null,"Results Field":null,"Include Metadata":"true","Index Name":null,"Number of Results":"10","Include Distances":"true","Output Strategy":"Row-Oriented","Namespace":null},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Text Key":{"name":"Text Key","displayName":"Text Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pinecone Environment":{"name":"Pinecone Environment","displayName":"Pinecone Environment","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Results Field":{"name":"Results Field","displayName":"Results Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Metadata":{"name":"Include Metadata","displayName":"Include Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Results":{"name":"Number of Results","displayName":"Number of Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Distances":{"name":"Include Distances","displayName":"Include Distances","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Namespace":{"name":"Namespace","displayName":"Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"e8fa3ab0-0e75-3beb-9c67-e9c143820106","instanceIdentifier":"568a37a0-914b-1f93-9757-8867d8cf6495","name":"SplitRecord","comments":"","position":{"x":1360.0,"y":624.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M1"},"properties":{"Record Writer":"75e268aa-cda0-3a2c-ad7c-cbb514869d0c","Record Reader":"7eed05c8-7281-3026-8deb-623428641ebb","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f395931f-b28a-335c-b574-5162ea223dd8","instanceIdentifier":"568a378f-914b-1f93-6dbe-8a6cb85e7e8f","name":"","source":{"id":"a13807eb-9e3a-33c2-8f8f-c4a6f6a9bf46","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"568a378e-914b-1f93-564a-bdb39e21c503"},"destination":{"id":"3e5955a3-d302-32d3-b49c-268e8ea03ae7","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"ParseDocument","comments":"","instanceIdentifier":"faa2e113-018c-1000-e080-852a566d005a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"54450ebb-d9b3-380f-b40a-c55e879e998a","instanceIdentifier":"568a37bd-914b-1f93-ae32-901462d47ea1","name":"","source":{"id":"fb92f5e1-e657-36af-a741-72d439b77e23","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"QueryPinecone","comments":"","instanceIdentifier":"faa3b955-018c-1000-96b9-58abe3b8ddbd"},"destination":{"id":"2e442477-a249-320c-9ed9-aa2020d17e6c","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37bc-914b-1f93-5c4c-42deeb8c4df0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"1fb60b96-ea23-3aac-a1b0-6ca3097c4089","instanceIdentifier":"568a37ab-914b-1f93-9be7-bb4f230c77aa","name":"","source":{"id":"a8d1fd65-8c63-3ee4-9805-6d33d02438b9","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"RetryFlowFile","comments":"","instanceIdentifier":"568a379f-914b-1f93-6747-31d01302efc8"},"destination":{"id":"678738ab-256f-3d93-a138-42dce570c4dc","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"568a379e-914b-1f93-6254-4555a8133633"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":624.0,"y":872.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"426d2b28-2c9f-3b3e-b401-1bef2e9aff67","instanceIdentifier":"568a37ba-914b-1f93-39be-dc3b7131e16f","name":"","source":{"id":"b025172b-8c47-3d32-ab4f-1e88035c6a9a","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PutPinecone","comments":"","instanceIdentifier":"faa2a16b-018c-1000-9ee1-60c9f8410cf8"},"destination":{"id":"5eba4192-d1ef-3cb4-a6c5-2b001a6e6811","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37b9-914b-1f93-ac0f-7b5012c8cacb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"30df90dd-2c1c-3423-b390-62d8e06d2068","instanceIdentifier":"568a37b1-914b-1f93-5928-7591501cd6c0","name":"","source":{"id":"9df9a51d-5e9c-32c8-beaf-711db953e25a","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"QueryChroma","comments":"","instanceIdentifier":"faa3a130-018c-1000-a675-4b0dddb553af"},"destination":{"id":"89efbd52-4323-3107-a2bf-9aeadb36a44d","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37b0-914b-1f93-8d62-0cdc507edb76"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"096196c1-8ad2-3c52-af1e-63369d403457","instanceIdentifier":"568a3793-914b-1f93-4edc-7637d7dd9b1b","name":"","source":{"id":"3e5955a3-d302-32d3-b49c-268e8ea03ae7","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"ParseDocument","comments":"","instanceIdentifier":"faa2e113-018c-1000-e080-852a566d005a"},"destination":{"id":"7f9796d2-55b9-3b4a-9c54-41e59b9294c5","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a3787-914b-1f93-a8d6-7937f9a2ea97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"1b581b3a-8f25-3f9b-b744-8ac0b85409a1","instanceIdentifier":"568a37a2-914b-1f93-ac96-8c7eb3cb1b47","name":"","source":{"id":"e8fa3ab0-0e75-3beb-9c67-e9c143820106","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"SplitRecord","comments":"","instanceIdentifier":"568a37a0-914b-1f93-9757-8867d8cf6495"},"destination":{"id":"c6b106f2-4252-36ac-9ed0-ba1e63293d96","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Get vector data","comments":"","instanceIdentifier":"568a379d-914b-1f93-7276-34a53dbc4acb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"c6734f60-1f5b-3f43-b480-35530a4c0720","instanceIdentifier":"568a3792-914b-1f93-5044-c2500f773679","name":"","source":{"id":"3e5955a3-d302-32d3-b49c-268e8ea03ae7","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"ParseDocument","comments":"","instanceIdentifier":"faa2e113-018c-1000-e080-852a566d005a"},"destination":{"id":"2066c956-5ba3-32b7-b84d-5d26039439d3","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"ChunkDocument","comments":"","instanceIdentifier":"faa2c8ea-018c-1000-d707-891221f6ce1d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"b0e6b060-36b0-3305-ab46-989c318d6a4d","instanceIdentifier":"568a3798-914b-1f93-2a4f-fa63397be021","name":"","source":{"id":"defd8ba7-2b6a-305b-8f30-1600b8a7746c","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PutChroma","comments":"","instanceIdentifier":"faa37e83-018c-1000-89c1-a248aef83141"},"destination":{"id":"9df9a51d-5e9c-32c8-beaf-711db953e25a","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"QueryChroma","comments":"","instanceIdentifier":"faa3a130-018c-1000-a675-4b0dddb553af"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"2eab52ec-67b7-3c7c-8c6d-c71a711d6924","instanceIdentifier":"568a378b-914b-1f93-e34f-9e52006f1160","name":"","source":{"id":"6d24c882-733c-382e-a297-f795a0b3fcb8","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"AttributesToJSON","comments":"","instanceIdentifier":"568a3789-914b-1f93-b0bd-039f26fbc93b"},"destination":{"id":"7f9796d2-55b9-3b4a-9c54-41e59b9294c5","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a3787-914b-1f93-a8d6-7937f9a2ea97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"c12e109a-24a4-3083-b5d7-5434e14c7b2d","instanceIdentifier":"568a37bf-914b-1f93-1807-a66a9290a651","name":"","source":{"id":"d121db7c-097e-3939-b670-7cec7118d979","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37aa-914b-1f93-c97f-5ea8c1b019a0"},"destination":{"id":"678738ab-256f-3d93-a138-42dce570c4dc","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"568a379e-914b-1f93-6254-4555a8133633"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"7dbfc700-836a-3b82-beaa-4e8f2518af26","instanceIdentifier":"568a3788-914b-1f93-73f1-05b3b887e4f9","name":"","source":{"id":"5e9b247d-7ae1-36b7-9aac-07d36d2b7bd3","type":"OUTPUT_PORT","groupId":"b48460b1-f09a-3ac8-bddf-c5d3dadb6ed1","name":"contentFull","instanceIdentifier":"568a3784-914b-1f93-bb5a-8299f410302a"},"destination":{"id":"6d24c882-733c-382e-a297-f795a0b3fcb8","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"AttributesToJSON","comments":"","instanceIdentifier":"568a3789-914b-1f93-b0bd-039f26fbc93b"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"69929d7d-1fe9-3b07-8e2f-de846dce9b14","instanceIdentifier":"568a37af-914b-1f93-5b42-4490dae6b3a6","name":"","source":{"id":"9df9a51d-5e9c-32c8-beaf-711db953e25a","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"QueryChroma","comments":"","instanceIdentifier":"faa3a130-018c-1000-a675-4b0dddb553af"},"destination":{"id":"d121db7c-097e-3939-b670-7cec7118d979","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37aa-914b-1f93-c97f-5ea8c1b019a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"a5d215ff-ca84-3dc5-91f6-a8a7db2202a2","instanceIdentifier":"568a37b8-914b-1f93-e376-6d80eadcebeb","name":"","source":{"id":"b025172b-8c47-3d32-ab4f-1e88035c6a9a","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PutPinecone","comments":"","instanceIdentifier":"faa2a16b-018c-1000-9ee1-60c9f8410cf8"},"destination":{"id":"fb92f5e1-e657-36af-a741-72d439b77e23","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"QueryPinecone","comments":"","instanceIdentifier":"faa3b955-018c-1000-96b9-58abe3b8ddbd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"dc3a82b0-6dd9-3137-9101-aa02ae8c0b77","instanceIdentifier":"568a37a3-914b-1f93-8022-6e5fb84710b9","name":"","source":{"id":"c6b106f2-4252-36ac-9ed0-ba1e63293d96","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Get vector data","comments":"","instanceIdentifier":"568a379d-914b-1f93-7276-34a53dbc4acb"},"destination":{"id":"b865ff00-c3f9-3935-9556-306dd48cbea7","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Send Msg to Slack Channel NiFi-SE","comments":"","instanceIdentifier":"568a37a1-914b-1f93-740e-ea8e985b2807"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"6f968e52-7080-3529-8f4e-7b0338638f75","instanceIdentifier":"568a37ae-914b-1f93-ed2a-06465f5df243","name":"","source":{"id":"b865ff00-c3f9-3935-9556-306dd48cbea7","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Send Msg to Slack Channel NiFi-SE","comments":"","instanceIdentifier":"568a37a1-914b-1f93-740e-ea8e985b2807"},"destination":{"id":"299215d6-0eda-33fb-a1dc-f91e05a1e2e2","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37ac-914b-1f93-45c1-0bf517a5dc1b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"59985d0e-17e2-31b2-b86d-7cb7909bf7ae","instanceIdentifier":"568a37ad-914b-1f93-5c45-eedf8e0b7e1f","name":"","source":{"id":"a8d1fd65-8c63-3ee4-9805-6d33d02438b9","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"RetryFlowFile","comments":"","instanceIdentifier":"568a379f-914b-1f93-6747-31d01302efc8"},"destination":{"id":"299215d6-0eda-33fb-a1dc-f91e05a1e2e2","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37ac-914b-1f93-45c1-0bf517a5dc1b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"752ee672-5298-37a2-a97e-69869b829ba5","instanceIdentifier":"568a37c0-914b-1f93-45aa-ddece07fd82f","name":"","source":{"id":"d121db7c-097e-3939-b670-7cec7118d979","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37aa-914b-1f93-c97f-5ea8c1b019a0"},"destination":{"id":"e8fa3ab0-0e75-3beb-9c67-e9c143820106","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"SplitRecord","comments":"","instanceIdentifier":"568a37a0-914b-1f93-9757-8867d8cf6495"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"1a4da464-4b6a-3441-94d9-0cd8fdda0457","instanceIdentifier":"568a3796-914b-1f93-4b68-aa789036cf38","name":"","source":{"id":"2066c956-5ba3-32b7-b84d-5d26039439d3","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"ChunkDocument","comments":"","instanceIdentifier":"faa2c8ea-018c-1000-d707-891221f6ce1d"},"destination":{"id":"7f9796d2-55b9-3b4a-9c54-41e59b9294c5","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a3787-914b-1f93-a8d6-7937f9a2ea97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"6b8280be-d3f4-31af-b820-be17eaeda520","instanceIdentifier":"568a37a4-914b-1f93-9923-447b37b6bef8","name":"","source":{"id":"678738ab-256f-3d93-a138-42dce570c4dc","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"568a379e-914b-1f93-6254-4555a8133633"},"destination":{"id":"a8d1fd65-8c63-3ee4-9805-6d33d02438b9","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"RetryFlowFile","comments":"","instanceIdentifier":"568a379f-914b-1f93-6747-31d01302efc8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"b8e851c1-1a95-310c-ab38-aa7b84b2f5c9","instanceIdentifier":"568a3795-914b-1f93-ac49-12722a94ac63","name":"","source":{"id":"2066c956-5ba3-32b7-b84d-5d26039439d3","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"ChunkDocument","comments":"","instanceIdentifier":"faa2c8ea-018c-1000-d707-891221f6ce1d"},"destination":{"id":"defd8ba7-2b6a-305b-8f30-1600b8a7746c","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PutChroma","comments":"","instanceIdentifier":"faa37e83-018c-1000-89c1-a248aef83141"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"15dae618-9eda-3196-b64b-88edc5e47db7","instanceIdentifier":"568a378a-914b-1f93-4df5-33940c2f0a46","name":"","source":{"id":"6d24c882-733c-382e-a297-f795a0b3fcb8","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"AttributesToJSON","comments":"","instanceIdentifier":"568a3789-914b-1f93-b0bd-039f26fbc93b"},"destination":{"id":"a13807eb-9e3a-33c2-8f8f-c4a6f6a9bf46","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"568a378e-914b-1f93-564a-bdb39e21c503"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"45cecd7c-f0df-348a-8079-6299365bc8e9","instanceIdentifier":"568a3790-914b-1f93-5891-91897c9b342d","name":"","source":{"id":"a13807eb-9e3a-33c2-8f8f-c4a6f6a9bf46","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"568a378e-914b-1f93-564a-bdb39e21c503"},"destination":{"id":"7f9796d2-55b9-3b4a-9c54-41e59b9294c5","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a3787-914b-1f93-a8d6-7937f9a2ea97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"3ee092e8-933d-30be-96da-42f237694bc2","instanceIdentifier":"568a37bb-914b-1f93-b532-2d6cdc8d4c1f","name":"","source":{"id":"fb92f5e1-e657-36af-a741-72d439b77e23","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"QueryPinecone","comments":"","instanceIdentifier":"faa3b955-018c-1000-96b9-58abe3b8ddbd"},"destination":{"id":"5eba4192-d1ef-3cb4-a6c5-2b001a6e6811","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a37b9-914b-1f93-ac0f-7b5012c8cacb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"51f5675e-4b4d-3a18-b5a2-4f822b7856d7","instanceIdentifier":"568a3797-914b-1f93-aa98-106225a0e017","name":"","source":{"id":"defd8ba7-2b6a-305b-8f30-1600b8a7746c","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PutChroma","comments":"","instanceIdentifier":"faa37e83-018c-1000-89c1-a248aef83141"},"destination":{"id":"7f9796d2-55b9-3b4a-9c54-41e59b9294c5","type":"FUNNEL","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"Funnel","comments":"","instanceIdentifier":"568a3787-914b-1f93-a8d6-7937f9a2ea97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"d45fb868-aa46-32e5-80d1-849ac49fd450","instanceIdentifier":"568a37b7-914b-1f93-433f-3d26d537f833","name":"","source":{"id":"2066c956-5ba3-32b7-b84d-5d26039439d3","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"ChunkDocument","comments":"","instanceIdentifier":"faa2c8ea-018c-1000-d707-891221f6ce1d"},"destination":{"id":"b025172b-8c47-3d32-ab4f-1e88035c6a9a","type":"PROCESSOR","groupId":"9d114dbd-4c41-33be-87c0-2735a2901fdd","name":"PutPinecone","comments":"","instanceIdentifier":"faa2a16b-018c-1000-9ee1-60c9f8410cf8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"}],"labels":[{"identifier":"e662a606-0a1a-3ee6-bf89-aef328332967","instanceIdentifier":"568a37b2-914b-1f93-5126-35f9d75bfd7f","position":{"x":1352.0,"y":264.0},"label":"https://docs.trychroma.com/usage-guide","zIndex":0,"width":328.0,"height":88.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"}],"funnels":[{"identifier":"7f9796d2-55b9-3b4a-9c54-41e59b9294c5","instanceIdentifier":"568a3787-914b-1f93-a8d6-7937f9a2ea97","position":{"x":1680.0,"y":-64.0},"componentType":"FUNNEL","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"299215d6-0eda-33fb-a1dc-f91e05a1e2e2","instanceIdentifier":"568a37ac-914b-1f93-45c1-0bf517a5dc1b","position":{"x":1056.0,"y":1376.0},"componentType":"FUNNEL","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"d121db7c-097e-3939-b670-7cec7118d979","instanceIdentifier":"568a37aa-914b-1f93-c97f-5ea8c1b019a0","position":{"x":952.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"2e442477-a249-320c-9ed9-aa2020d17e6c","instanceIdentifier":"568a37bc-914b-1f93-5c4c-42deeb8c4df0","position":{"x":168.0,"y":600.0},"componentType":"FUNNEL","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"89efbd52-4323-3107-a2bf-9aeadb36a44d","instanceIdentifier":"568a37b0-914b-1f93-8d62-0cdc507edb76","position":{"x":1439.749635744999,"y":510.37519716893644},"componentType":"FUNNEL","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"5eba4192-d1ef-3cb4-a6c5-2b001a6e6811","instanceIdentifier":"568a37b9-914b-1f93-ac0f-7b5012c8cacb","position":{"x":-297.8320229687404,"y":288.1034396907455},"componentType":"FUNNEL","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"}],"controllerServices":[{"identifier":"7eed05c8-7281-3026-8deb-623428641ebb","instanceIdentifier":"568a37c2-914b-1f93-ae21-40cdbb5679ff","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M1"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"},{"identifier":"75e268aa-cda0-3a2c-ad7c-cbb514869d0c","instanceIdentifier":"568a37c1-914b-1f93-036a-6f9491853be3","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M1"},"properties":{"schema-reference-reader":null,"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9d114dbd-4c41-33be-87c0-2735a2901fdd"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"0b19172a-122d-3548-aab3-5f048280cf5a":{"identifier":"0b19172a-122d-3548-aab3-5f048280cf5a","name":"CDP Infer JsonTreeReader"},"9f918092-dfe1-3d20-ac43-67e7286d7185":{"identifier":"9f918092-dfe1-3d20-ac43-67e7286d7185","name":"SchemaFromFieldJsonTreeReader"},"03c4f05a-7768-3264-8439-05fee7cab0c8":{"identifier":"03c4f05a-7768-3264-8439-05fee7cab0c8","name":"BasicJsonRecordSetWriter"},"9ebd0aeb-d43e-39d2-8d96-3412366b54c7":{"identifier":"9ebd0aeb-d43e-39d2-8d96-3412366b54c7","name":"ClouderaSchemaJsonRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}